/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/


/*Layout*/

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid blue;
}

.innerpage-container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    flex-basis: 1200px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 20px;
    background-color: var(--color-secondary-light);
}

.individual-pages {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary-light);
}


/* AREAS */

/*NAVIGATION MENU*/

nav {
    border: 2px solid greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 125px;
    width: 100%;
    /*Wil jij ook zo'n coole gradient maken? Deze is gemaakt via https://cssgradient.io/ - kind kan de was doen!*/
    background: linear-gradient(37deg, rgba(44, 47, 57, 1) 0%, rgba(0, 0, 0, 1) 8%, rgba(80, 83, 92, 1) 100%);
}

nav img {
    width: 500px;
    padding: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    gap: 5em;
    margin-right: 2em;
    font-size: 1.2em;
}



.active-menu-link {
    border-bottom: 3px solid var(--color-purple);
    color: var(--color-primary);
    text-decoration: none;
}

.default-menu-link {
    border-bottom: none;
    color: var(--color-white);
    text-decoration: none;
}